/* Mobile First CSS */
/* Common */


.header {
    width: 100%;
    background: var(--bg-color);
    z-index: 99;
}

.header-fixed {
    position: sticky;
    top: -10px;
    transition: all ease;
}

.header__wapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7px 16px 7px;
}

.header__wapper::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% - 14px);
    height: 1px;
    background: #D6D3E2;
}

.header__wapper-icon {
    display: flex;
    column-gap: 10px;
}

.header__logo {
    width: 40px;
    height: 44px;
    object-fit: cover;
    flex-shrink: 0;
}

.header__wapper-icon {
    display: flex;
    column-gap: 10px;
}

.header__icon-wapper,
.header__menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    stroke: #5D3BEE;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}

.header__icon {
    width: 16.696px;
    height: 11.13px;
    object-fit: cover;
}

.header__mail-text {
    display: none;
}

.header__menu-icon {
    flex-direction: column;
    row-gap: 4px;
}

.header__shape-menu {
    width: 15px;
    height: 2px;
    background: var(--primary-color);
}

.header__menu {
    display: none;
}

/* Hero section */
.hero {
    background: var(--bg-color);
}

.hero__wapper {
    margin-top: 50px;
}

.hero__info {
    padding: 0 20px;
}

.hero__title {
    width: 260px;
    font-size: 42px;
    line-height: 1.19;
    letter-spacing: -1.68px;
}

.hero__desc {
    width: 318px;
    margin-top: 20px;
}

.hero__btn {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-top: 30px;
}

.hero__btn--cta {
    font-size: 1.6rem;
    padding: 12px 31px 13px 31px;
    color: var(--color-white);
    background: var(--primary-color);
    font-weight: 700;
    line-height: 1.87;
    white-space: nowrap;
    transition: opacity 0.3s;
}

.hero__btn--cta:hover {
    opacity: 0.8;
}

.hero__btn--view {
    text-decoration: underline;
    color: var(--heading-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.87;
}

.hero__social {
    margin-top: 25px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.hero__social--text {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.42;
}

.hero__social--wapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__social--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: background 0.3s;
}

.hero__social--icon svg {
    width: 13px;
    height: 13px;
    object-fit: cover;
}

.hero__social--icon:hover {
    background: var(--primary-color);
}

.hero__social--icon:hover svg path {
    color: #fff;
    fill: currentColor;
}

.hero-image {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
}

.hero-image::after {
    content: "";
    display: inline-block;
    background-image: url("../images/shape-bg-hero-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-image__image {
    z-index: 3;
}

.hero-image__img {
    display: block;
    width: 259px;
    height: 355px;
    object-fit: cover;
}




/* Mobile (nếu cần ghi đè một số thuộc tính cụ thể) */
@media screen and (max-width: 767.98px) {}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {}

/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {}

/* PC */
@media screen and (min-width: 992px) {

    /* Common Desktop */
    .heading {
        font-size: 5.6rem;
        line-height: 1.17;
        letter-spacing: -2.24px;
    }

    .desc {
        font-size: 1.8rem;
        line-height: 1.66;
    }

    .container {
        padding: 0;
    }

    /* Header */
    .header__wapper {
        width: 1330px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0 0 0;
    }

    .header__wapper::after {
        display: none;
    }

    .header__wapper-icon {
        order: -1;
    }

    .header__logo {
        width: 75px;
        height: 80px;
    }

    .header__mail {
        display: flex;
        column-gap: 10px;
    }

    .header__mail-text {
        display: block;
        text-decoration: underline;
        color: var(--heading-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.36;
    }

    .header__menu-icon {
        display: none;
    }

    .header__menu {
        display: block;
    }

    .header__menu--list {
        display: flex;
    }

    .header__menu--item {
        padding: 10px 21px;
        color: var(--text-color);
        font-size: 1.8rem;
        transition: text-shadow .3s ease;
    }

    .header__menu--item:hover {
        text-shadow: 0 0 1px #333;
    }

    /* Hero Section */
    .hero {
        padding-top: 44px;
    }

    .hero__wapper {
        margin-top: 0;
    }

    .hero-image {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .hero-image::after {
        display: none;
    }

    .hero__row {
        flex-direction: row-reverse;
    }

    .hero-image__img {
        width: 514px;
        height: 705px;
    }

    .hero__title {
        width: 500px;
        font-size: 8rem;
        line-height: 0.95;
        letter-spacing: -3.2px;
    }

    .hero__desc {
        width: 370px;
    }

}