/* Mobile First CSS */
/* Common */


.header {
    width: 100%;
    background: var(--bg-color);
    z-index: 99;
}

.header-fixed {
    position: sticky;
    top: -10px;
    transition: all ease;
}

.header__wapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7px 16px 7px;
}

.header__wapper::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% - 14px);
    height: 1px;
    background: #D6D3E2;
}

.header__wapper-icon {
    display: flex;
    column-gap: 10px;
}

.header__logo {
    display: block;
    width: 40px;
    height: 44px;
    object-fit: cover;
    flex-shrink: 0;
}

.header__wapper-icon {
    display: flex;
    column-gap: 10px;
}

.header__icon-wapper {
    order: -1;
}

.header__icon-wapper,
.header__menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    stroke: #5D3BEE;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}

.header__icon {
    width: 16.696px;
    height: 11.13px;
    object-fit: cover;
}

.header__mail-text {
    display: none;
}

.header__menu-icon {
    flex-direction: column;
    row-gap: 4px;
}

.header__shape-menu {
    width: 15px;
    height: 2px;
    background: var(--primary-color);
}

.header__menu {
    display: none;
}

/* Hero section */
.hero {
    padding-top: 50px;
    background: var(--bg-color);
}

.hero__info {
    padding: 0 20px;
}

.hero__title {
    width: 260px;
    font-size: 42px;
    line-height: 1.19;
    letter-spacing: -1.68px;
}

.hero__desc {
    width: 318px;
    margin-top: 20px;
}

.hero__btn {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-top: 30px;
}

.hero__btn--cta {
    font-size: 1.6rem;
    padding: 12px 31px 13px 31px;
    color: var(--color-white);
    background: var(--primary-color);
    font-weight: 700;
    line-height: 1.87;
    white-space: nowrap;
    transition: opacity 0.3s;
}

.hero__btn--cta:hover {
    opacity: 0.8;
}

.hero__btn--view {
    text-decoration: underline;
    color: var(--heading-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.87;
    transition: color 0.3s;
}

.hero__btn--view:hover {
    color: var(--primary-color);
}

.hero__social {
    margin-top: 25px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.hero__social--text {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.42;
}

.hero__social--wapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__social--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: background 0.3s;
}

.hero__social--icon svg {
    width: 13px;
    height: 13px;
    object-fit: cover;
}

.hero__social--icon:hover {
    background: var(--primary-color);
}

.hero__social--icon:hover svg path {
    color: #fff;
    fill: currentColor;
}

.hero-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/shape-bg-hero-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-image__image {
    z-index: 3;
}

.hero-image__img {
    display: block;
    width: 259px;
    height: 355px;
    object-fit: cover;
}


/* Client */
.client {
    padding-top: 125px;
    background: var(--bg-white);
}

.client__header {
    display: flex;
    justify-content: center;
}

.client__heading {
    text-align: center;
    position: relative;
    width: 169px;
    font-size: 2.8rem;
    line-height: 1.21;
    letter-spacing: -1.12px;
}

.client__heading::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 48px;
    height: 1px;
    background: var(--primary-color);
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.client__grid {
    margin-top: 40px;
    padding-left: 17px;
    padding-right: 17px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
}

.client__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client__logo:nth-of-type(1) {
    width: 99px;
    height: 32px;
}

.client__logo:nth-of-type(2),
.client__logo:nth-of-type(3),
.client__logo:nth-of-type(4),
.client__logo:nth-of-type(5),
.client__logo:nth-of-type(6),
.client__logo:nth-of-type(7),
.client__logo:nth-of-type(8) {
    width: 146px;
    height: 36px;
}

.client__logo:nth-of-type(3) {
    width: 108px;
}

.client__logo:nth-of-type(4) {
    width: 167px;
}

.client__logo:nth-of-type(5) {
    width: 131px;
}

.client__logo:nth-of-type(6) {
    width: 102px;
    margin-right: auto;
    margin-left: auto;
}

.client__logo:nth-of-type(7) {
    width: 173px;
}

.client__logo:nth-of-type(8) {
    width: 98px;
    margin-right: auto;
    margin-left: auto;
}


/* Specialities */
.spec {
    padding-top: 120px;
    background: var(--bg-white);
}

.spec__wapper {
    padding: 0 15px;
}

.spec__header {
    text-align: center;
}

.spec__desc {
    margin: 20px;
}

.row-spec {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    column-gap: 20px;
}

.spec-box {
    margin-top: 50px;
}

.spec-box__item {
    width: 350px;
    padding: 29px 50px;
    background: var(--bg-color);
}

.spec-box__icon--wapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.spect-box__icon {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.spec-box:nth-of-type(2) .spect-box__icon {
    width: 28px;
    height: 28px;
}

.spec-box:nth-of-type(3) .spect-box__icon {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 55px;
}

.spect-box__heading {
    margin-top: 30px;
    font-size: 2.8rem;
    line-height: 1.28;
    letter-spacing: -1.12px;
}

.spec-box__desc {
    margin-top: 10px;
    line-height: 1.75;
}

.spec__dot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    column-gap: 15px;
}

.spec__dots-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background: #ccc;
    border-radius: 50%;
    z-index: 1;
    position: relative;
}

.spec__dots-item.active {
    background: var(--primary-color);
    border: 1px solid var(--primary-color)
}

.spec__dots-item.active .spec__dots-inner {
    background: var(--primary-color);
    width: 18px;
    height: 18px;
    border: 3px solid var(--bg-white);
    border-radius: 50%;
    z-index: -1;
}


/* Project */
.project {
    margin-top: 120px;
    padding: 69px 15px 60px 15px;
    background: var(--primary-color);
}

.project__header {
    text-align: center;
}

.project__heading {
    color: var(--bg-white);
}

.project__desc {
    margin-top: 20px;
    color: var(--bg-color);
}

.project-inner {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.project-box {
    display: flex;
    align-items: center;
    column-gap: 22px;
    padding: 20px 15px;
    background-image: url(../images/bg-project.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-box__heading {
    color: var(--heading-color);
    font-size: 2.4rem;
    line-height: 1.41;
    letter-spacing: -0.96px;
}

.project-box__desc {
    margin-top: 4px;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.42;
}

.project-box__cta {
    margin-top: 4px;
    color: var(--heading-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.75;
    text-decoration: underline;
    transition: color .3s;
}

.project-box__cta:hover {
    color: var(--primary-color);
}

.project-box__img {
    width: 122px;
    height: 93px;
    object-fit: cover;
}

.project__view-project {
    display: block;
    margin: 50px auto 0 auto;
    width: 154px;
    height: 56px;
    background: var(--bg-white);
    color: var(--heading-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.87;
    padding: 13px 33px;
    white-space: nowrap;
    transition: color, background;
    transition-duration: 0.2s;
}

.project__view-project:hover {
    background: #333;
    color: var(--bg-white);
}

/* Hey */
.hey {
    padding: 60px 0;
    background: var(--bg-white);
}

.hey__wapper {
    padding: 0 15px;
}

.hey__header {
    text-align: center;
}

.hey__span {
    display: inline-block;
    position: relative;
    color: var(--primary-color);
    font-size: 2rem;
    line-height: 2;
    letter-spacing: -0.8px;
}

.hey__span::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: calc(100% + 4px);
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../icon/hey-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
}

.hey__heading {
    margin-top: 10px;
}

.hey__desc {
    margin-top: 20px;
}

.hey__authen {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    margin: 80px 0 70px;
    padding: 30px 0;
    border-top: 1px solid #080415;
    border-bottom: 1px solid #080415;
}

.hey__authen--block {
    width: 74px;
}

.hey__authen--number {
    display: block;
    color: var(--heading-color);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.9px;
    text-decoration: underline;
}

.hey__authen--text {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.37;
}

.hey__video {
    position: relative;
    width: 350px;
    height: 276px;
    background-image: url(../images/video-backgorund.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.hey__btn--play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.hey__btn--img {
    width: 77px;
    height: 77px;
    object-fit: cover;
    transition: scale 0.3s ease-in-out;
    cursor: pointer;
}

.hey__video:hover .hey__btn--img {
    scale: 1.2;
}

.hey__itro--video {
    padding: 7px 21px;
    background: var(--bg-white);
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 118px;
    transition: background .3s;
    cursor: pointer;
}

.hey__itro--video:hover {
    background: var(--primary-color);

}

.hey__intro--text {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.5;
    text-transform: uppercase;
    transition: color .3s;
}

.hey__itro--video:hover .hey__intro--text {
    color: var(--bg-white);
}

/* Says */
.says {
    position: relative;
    padding: 60px 0 67px;
    background: var(--bg-color);
}

.says::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg-says.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 1;
}

.says__wapper {
    position: relative;
    padding: 0 10px;
    z-index: 2;
}

.says__header {
    text-align: center;
}

.says__desc {
    margin-top: 20px;
}

.says__inner {
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
}

.says__inner--block {
    text-align: center;
}

.says__review {
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.66;
}

.says__people {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 14px;
}

.says__thumb {
    width: 39.833px;
    height: 39.833px;
    object-fit: cover;
}

.says__client {
    color: var(--heading-color);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.66;
}

.says__position-name {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.81;
}

.says__dots {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.says__dot,
.atm__dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #ccc;
    border-radius: 50%;
    transition: background .3s;
    cursor: pointer;
}

.says__dot:hover,
.atm__dot:hover {
    background: var(--primary-color);
}

.says__dot.active,
.atm__dot.active {
    background: var(--primary-color);
    box-shadow:
        0 0 0 2px var(--bg-white), 0 0 0 4px var(--primary-color);
}

/* FAQ */
.faq {
    background: var(--bg-white);
    margin: 60px 0 0;
    padding: 60px 0;
}

.faq__wapper {
    padding: 0 10px;
}

.faq__heading {
    width: 316px;
}

.faq__accordion {
    margin-top: 42px;
}

.faq__accordion--block {
    padding-bottom: 15px;
    border-bottom: 2px solid var(--heading-color);
}

.faq__accordion--block~.faq__accordion--block {
    padding-top: 40px;
}

.faq__accordion input[type="radio"]:nth-of-type(1):checked~.faq__accordion--block:nth-of-type(1),
.faq__accordion input[type="radio"]:nth-of-type(2):checked~.faq__accordion--block:nth-of-type(2),
.faq__accordion input[type="radio"]:nth-of-type(3):checked~.faq__accordion--block:nth-of-type(3),
.faq__accordion input[type="radio"]:nth-of-type(4):checked~.faq__accordion--block:nth-of-type(4),
.faq__accordion input[type="radio"]:nth-of-type(5):checked~.faq__accordion--block:nth-of-type(5) {
    border-color: var(--primary-color);
}

.faq__accordion input[type="radio"]:nth-of-type(1):checked~.faq__accordion--block:nth-of-type(1) .faq__accordion--heading h3,
.faq__accordion input[type="radio"]:nth-of-type(2):checked~.faq__accordion--block:nth-of-type(2) .faq__accordion--heading h3,
.faq__accordion input[type="radio"]:nth-of-type(3):checked~.faq__accordion--block:nth-of-type(3) .faq__accordion--heading h3,
.faq__accordion input[type="radio"]:nth-of-type(4):checked~.faq__accordion--block:nth-of-type(4) .faq__accordion--heading h3,
.faq__accordion input[type="radio"]:nth-of-type(5):checked~.faq__accordion--block:nth-of-type(5) .faq__accordion--heading h3 {
    color: var(--primary-color);
}

.faq__accordion--heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 52px;
    cursor: pointer;
}

.faq__accordion--heading~.faq__accordion--heading {
    margin-top: 55px;
}

.faq__accordion--heading h3 {
    color: var(--heading-color);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.96px;
}

.faq__accordion--icon {
    position: relative;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    flex-shrink: 0;
}

.faq__accordion--icon::before {
    content: "+";
    font-size: 2.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56%);
    transition: all .3s ease-in;
}

.faq__accordion input[type="radio"]:nth-of-type(1):checked~.faq__accordion--block:nth-of-type(1) .faq__accordion--heading .faq__accordion--icon::before,
.faq__accordion input[type="radio"]:nth-of-type(2):checked~.faq__accordion--block:nth-of-type(2) .faq__accordion--heading .faq__accordion--icon::before,
.faq__accordion input[type="radio"]:nth-of-type(3):checked~.faq__accordion--block:nth-of-type(3) .faq__accordion--heading .faq__accordion--icon::before,
.faq__accordion input[type="radio"]:nth-of-type(4):checked~.faq__accordion--block:nth-of-type(4) .faq__accordion--heading .faq__accordion--icon::before,
.faq__accordion input[type="radio"]:nth-of-type(5):checked~.faq__accordion--block:nth-of-type(5) .faq__accordion--heading .faq__accordion--icon::before {
    content: "-";
}

.faq__accordion input[type="radio"] {
    display: none
}

.faq__accordion--content {
    margin-top: 14px;
    width: 316px;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .6s ease-in;
}

.faq__accordion input[type="radio"]:nth-of-type(1):checked~.faq__accordion--block:nth-of-type(1) .faq__accordion--content,
.faq__accordion input[type="radio"]:nth-of-type(2):checked~.faq__accordion--block:nth-of-type(2) .faq__accordion--content,
.faq__accordion input[type="radio"]:nth-of-type(3):checked~.faq__accordion--block:nth-of-type(3) .faq__accordion--content,
.faq__accordion input[type="radio"]:nth-of-type(4):checked~.faq__accordion--block:nth-of-type(4) .faq__accordion--content,
.faq__accordion input[type="radio"]:nth-of-type(5):checked~.faq__accordion--block:nth-of-type(5) .faq__accordion--content {
    visibility: visible;
    max-height: 500px;
    opacity: 1;
}


/* ATM */
.atm {
    background: var(--bg-white);
    padding: 60px 0;
}

.atm__wrapper {
    padding: 0 10px;
}

.atm__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.atm__desc {
    margin-top: 20px;
}

.atm__mail {
    position: relative;
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: -0.8px;
}

.atm__mail::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--primary-color);
}

.atm__slider {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    width: 100%;
    margin-top: 60px;
    overflow: hidden;
}

.atm__img {
    width: 352px;
    height: 503px;
    object-fit: cover;
}

.atm__dots {
    margin-top: 40px;
    column-gap: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Got */
.got {
    padding: 94px 0 48px;
    margin: 60px 0;
    background: var(--bg-color);
    background-image: url('../images/bg-got.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.got__wrapper {
    width: 100%;
}

.got__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.got__heading {
    position: relative;
    width: 225px;
}

.got__heading::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: -58px;
    transform: translateX(-50%);
    background-image: url('../icon/icon-got.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.got__desc {
    margin-top: 10px;
}

.got__cta {
    margin-top: 42px;
    padding: 13px 31px;
    background: var(--primary-color);
    color: #FDFDFD;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.87;
    transition: opacity 0.3s ease-in;
}

.got__cta:hover {
    opacity: 0.8;
}

/* Footer */
.footer {
    margin-top: 60px;
    padding: 60px 0 29px;
}

.footer__inner {
    padding: 0 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__logo {
    width: 40px;
    height: 44px;
    object-fit: cover;
}

.footer__list {
    margin-top: 20px;
    display: flex;
    column-gap: 38px;
}

.footer__item {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    transition: text-shadow .3s ease;
}

.footer__item:hover {
    text-shadow: 0 0 1px #333;
}


.footer__mail {
    margin-top: 58px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 10px;
}

.footer__icon-wapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.footer__mail-text {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration: underline;
}

.footer__icon {
    width: 24px;
    height: 16px;
    object-fit: cover;
}

.footer__copy {
    margin-top: 57px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.footer__copy--list {
    display: flex;
    column-gap: 36px;
    white-space: nowrap;
}

.footer__copy--item,
.copy__text {
    position: relative;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.66;
    letter-spacing: -0.54px;
}

.footer__copy--list .footer__copy--item:nth-child(even)::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 14px;
    background: var(--text-color);
}

.copy__text {
    margin-top: 49px;
    padding-top: 20px;
    border-top: 1px solid #0C0720;
    letter-spacing: normal;
}

/* Menu Mobile */
.header__menu--overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    transition: opacity, visibility;
    transition-duration: 0, 3s;
}

.header__menu--active {
    position: fixed;
    inset: 0 40% 0 0;
    padding: 40px;
    background: var(--bg-color);
    transform: translateX(-100%);
    transition: transform .6s ease-in-out;
    z-index: 101;
}

.header__menu--list-mobile {
    margin-top: 20px;
}

/* .header__menu--list-mobile li+li {
    margin-top: 10px;
} */

.header__menu--item-mobile {
    display: block;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
    padding: 20px 0;
    transition: text-shadow .3s ease;
}

.header__menu--item-mobile:hover {
    text-shadow: 0 0 1px #333;
}

/* Menu active */
.header__menu--toggle input[type="checkbox"] {
    display: none;
}

.header__menu--toggle input[type="checkbox"]:checked~.header__menu--active {
    transform: translateX(0%);
}

.header__menu--toggle input[type="checkbox"]:checked+.header__menu--overlay {
    opacity: 1;
    visibility: visible;
}


/* Mobile (nếu cần ghi đè một số thuộc tính cụ thể) */
@media screen and (max-width: 767.98px) {

    .spec-box__item,
    .spect-box__heading,
    .spec-box__desc {
        transition: all .3s;
    }


    .spec-box__item:hover {
        background: var(--primary-color);
    }

    .spec-box__item:hover .spect-box__heading,
    .spec-box__item:hover .spec-box__desc {
        color: var(--bg-white);
    }



}



/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .header__wapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero__btn--view {
        white-space: nowrap;
    }

    .client__grid {
        grid-template-columns: repeat(3, auto);
    }

    .client__logo:nth-of-type(6),
    .client__logo:nth-of-type(8) {
        margin: 0;
    }

    .spec {
        padding-top: 80px;
    }

    .spec__desc {
        width: 420px;
        margin-left: auto;
        margin-right: auto;
    }

    .spec-box__icon--wapper {
        position: relative;
        width: 74px;
        height: 74px;
    }

    .spec-box:nth-of-type(2) .spect-box__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-38%);
        width: 70px;
        height: 70px;
    }

    .spec-box:nth-of-type(3) .spect-box__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 65px;
        height: 65px;
    }

    .spec-box__item,
    .spect-box__heading,
    .spec-box__desc {
        transition: all .3s;
    }


    .spec-box__item:hover {
        background: var(--primary-color);
    }

    .spec-box__item:hover .spect-box__heading,
    .spec-box__item:hover .spec-box__desc {
        color: var(--bg-white);
    }

    /* Project */
    .project-inner {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px 20px;
    }

    /* Hey */
    .hey {
        padding: 80px 120px;
    }

    .hey__desc {
        width: 470px;
        margin-left: auto;
        margin-right: auto;
    }

    .hey__authen {
        justify-content: space-evenly;
    }

    .hey__video {
        width: 100%;
        height: 415px;
    }

    /* Says */


    .says__desc {
        width: 420px;
        margin-left: auto;
        margin-right: auto;
    }

    .says__inner {
        width: 480px;
    }

    .says__inner {
        margin-left: auto;
        margin-right: auto;
    }

    /* FAQ */
    .faq__heading {
        width: 420px;
    }

    .atm__desc {
        width: 450px;
    }

    /* Got */
    .got__desc {
        width: 420px;
    }

    /* Footer */
    .footer {
        padding-top: 20px;
    }

    .footer__mail {
        margin-top: 30px;
    }

    .copy__text {
        margin-top: 35px;
    }

}

/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {}

/* PC */
@media screen and (min-width: 992px) {

    /* Common Desktop */
    .heading {
        font-size: 5.6rem;
        line-height: 1.17;
        letter-spacing: -2.24px;
    }

    .desc {
        font-size: 1.8rem;
        line-height: 1.66;
    }

    .container {
        padding: 0;
    }

    /* Header */
    .header__wapper {
        width: 1330px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0 0 0;
    }

    .header__wapper::after {
        display: none;
    }

    .header__wapper-icon {
        order: -1;
    }

    .header__logo {
        width: 75px;
        height: 80px;
    }

    .header__mail {
        display: flex;
        column-gap: 10px;
    }

    .header__mail-text {
        display: block;
        text-decoration: underline;
        color: var(--heading-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.36;
    }

    .header__menu-icon {
        display: none;
    }

    .header__menu {
        display: block;
    }

    .header__menu--list {
        display: flex;
    }

    .header__menu--item {
        padding: 10px 21px;
        color: var(--text-color);
        font-size: 1.8rem;
        transition: text-shadow .3s ease;
    }

    .header__menu--item:hover {
        text-shadow: 0 0 1px #333;
    }

    /* Hero Section */
    .hero {
        padding-top: 44px;
        background-image: url(../images/backgorund-shape-hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center -155px;
    }

    .hero__wapper {
        margin-top: 0;
    }

    .hero__row {
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .hero-image {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .hero-image::after {
        display: none;
    }

    .hero-image__img {
        width: 514px;
        height: 705px;
    }

    .hero__info {
        padding: 0;
    }

    .hero__title {
        width: 500px;
        font-size: 8rem;
        line-height: 0.95;
        letter-spacing: -3.2px;
    }

    .hero__desc {
        width: 370px;
    }

    .hero__btn--cta {
        font-size: 1.8rem;
        line-height: 1.66;
    }

    .hero__btn--view {
        font-size: 1.8rem;
        line-height: 1.66;
    }

    .hero__social {
        column-gap: 15px;
    }

    .hero__social--text {
        font-size: 1.6rem;
    }

    .hero__social {
        margin-top: 104px;
    }

    .hero__social--icon {
        width: 40px;
        height: 40px;
    }

    /* Client */

    .client__heading {
        text-align: left;
        width: 253px;
        font-size: 4.2rem;
        line-height: 1.19;
        letter-spacing: -1.68px;
    }

    .client__heading::before {
        all: unset;
        content: "";
        display: inline-block;
        width: 86px;
        height: 1px;
        position: absolute;
        left: -100px;
        top: 22px;
        background: var(--primary-color);
    }

    .client__grid {
        margin-top: 0;
        display: grid;
        grid-template-columns: repeat(4, auto);
    }

    .client__logo:nth-of-type(6),
    .client__logo:nth-of-type(8) {
        margin: 0;
    }

    /* Specialities */
    .spec {
        padding-top: 133px;
    }

    .spec__desc {
        width: 534px;
        margin: 20px auto 0 auto;
    }

    .row-spec {
        margin-top: 60px;
        overflow: hidden;
    }

    .spec-box {
        margin-top: 0;
    }

    .spec-box__item {
        width: 370px;
        padding: 33px 42px 32px 43px;
        transition: background .3s;
    }

    .spec-box__item:hover {
        background: var(--primary-color);
    }

    .spec-box__item:hover .spect-box__heading,
    .spec-box__item:hover .spec-box__desc {
        color: var(--bg-white);
    }

    .spec-box__icon--wapper {
        position: relative;
        width: 74px;
        height: 74px;
    }

    .spec-box:nth-of-type(2) .spect-box__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-38%);
        width: 70px;
        height: 70px;
    }

    .spec-box:nth-of-type(3) .spect-box__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-54%, -40%);
        width: 65px;
        height: 65px;
    }

    .spect-box__heading {
        font-size: 3.2rem;
        line-height: 1.25;
        letter-spacing: -1.28px;
        transition: color .3s;
    }

    .spec-box__desc {
        margin-top: 15px;
        transition: color .3s;
    }

    .spec__dot {
        display: none;
    }

    .spec__dots {
        display: none;
    }

    /* Project */
    .project {
        margin-top: 140px;
        padding: 86px 0;
    }

    .project__wapper {}

    .project__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .project__heading {
        width: 468px;
        text-align: left;
    }

    .project__desc {
        text-align: left;
        width: 370px;
        color: var(--bg-white);
    }

    .project-inner {
        margin-top: 70px;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .project-box {
        column-gap: 47px;
    }

    .project-box__heading {
        color: var(--heading-color);
        font-size: 3.2rem;
        line-height: 1.25;
        letter-spacing: -1.28px;
    }

    .project-box__desc {
        margin-top: 10px;
        color: var(--text-color);
        font-size: 1.6rem;
        line-height: 1.43;
    }

    .project-box__cta {
        margin-top: 20px;
        font-size: 1.8rem;
        line-height: 1.66;
    }

    .project-box__img {
        width: 246px;
        height: 187px;
    }

    .project__view-project {
        margin-top: 80px;
        font-size: 1.8rem;
        line-height: 1.66;
    }

    .project__white--space {
        white-space: nowrap;
    }

    /* Hey */
    .hey {
        padding: 140px 0 150px;
    }

    .hey__span {
        font-size: 3.2rem;
        line-height: 1.25;
        letter-spacing: -1.28px;
    }

    .hey__heading {
        font-size: 5.6rem;
        line-height: 1.17;
        letter-spacing: -2.24px;
    }

    .hey__desc {
        margin-top: 15px;
        width: 570px;
        font-size: 1.8rem;
        line-height: 1.66;
        margin-left: auto;
        margin-right: auto;
    }

    .hey__authen {
        column-gap: 0;
        padding: 20px 0;
        margin-top: 70px;
        justify-content: space-around;
    }

    .hey__authen--block {
        width: auto;
    }

    .hey__authen--block:nth-of-type(2) {
        order: -1;
    }

    .hey__authen--number {
        font-size: 5.6rem;
        line-height: 1.35;
        letter-spacing: 1.68px;
    }

    .hey__authen--text {
        font-size: 1.8rem;
        line-height: 1.66;
    }

    .hey__video {
        width: 100%;
        height: 628px;
        background-position: initial;
    }

    /* Says */
    .says {
        padding: 150px 0 74px 0;
    }

    .says__desc {
        width: 570px;
        margin-left: auto;
        margin-right: auto;
    }

    .says__inner {
        margin-top: 60px;
    }

    .says__review {
        width: 679px;
        font-size: 2.4rem;
        line-height: 1.66;
    }

    .says__inner--block {
        margin-left: auto;
        margin-right: auto;
    }

    .says__people {
        margin-top: 36px;
    }

    .says__client {
        font-size: 3rem;
        line-height: 1.33;
    }

    .says__position-name {
        margin-top: 3px;
        font-size: 1.6rem;
        line-height: 1.81;
    }

    .says__dots,
    .atm__dot {
        margin-top: 40px;
    }

    /* FAQ */
    .faq {
        margin: 40px 0;
        padding: 50px 0;
    }

    .faq__heading {
        width: 575px;
    }

    .faq__accordion--block {
        padding: 60px 0 21px;
    }

    .faq__accordion--heading h3 {
        font-size: 3.2rem;
        line-height: 1.25;
        letter-spacing: -1.28px;
    }


    .faq__accordion--content {
        width: 487px;
        margin-top: 23px;
    }

    .faq__accordion input[type="radio"]:not(:checked)~.faq__accordion--block {
        padding-bottom: 21px;
    }

    /* ATM */
    .atm__desc {
        width: 528px;
    }

    .atm__mail {
        margin-top: 30px;
    }

    .atm__slider {
        margin-top: 70px;
        column-gap: 30px;
    }

    .atm__img {
        width: 370px;
        height: 529px;
    }

    .atm__dots {
        display: none;
    }

    /* Got */
    .got {
        margin-top: 80px;
        padding: 173px 0 68px;
        background-image: url('../images/bg-got-desktop.png');
    }

    .got__wrapper {
        width: 1330px;
    }

    .got__header {
        width: 574px;
        margin-left: auto;
        margin-right: auto;
    }

    .got__heading {
        width: 100%;
    }

    /* Footer */
    .footer__wrapper {
        width: 1330px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__inner {
        padding: 0 0 32px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #0C0720;
    }



    .footer__logo {
        width: 75px;
        height: 80px;
    }

    .footer__list,
    .footer__mail {
        margin-top: 0;
    }

    .footer__order {
        order: -1;
    }

    .footer__item {
        font-size: 1.8rem;
        transform: text-shadow .3s ease;
    }

    .footer__copy {
        width: 1170px;
        margin: 18px auto 0 auto;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .copy__text {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }

    .footer__copy--list {
        order: 1;
    }

    .footer__copy--item:hover {
        text-shadow: 0 0 1px #333;
    }
}