*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #5D3BEE;
    --heading-color: #080415;
    --text-color: #51586A;
    --bg-color: #FBFAFF;
    --bg-white: #fff;
    --color-white: #FDFDFD;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'DM Sans 18pt', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.heading {
    color: var(--heading-color);
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -1.44px;
}

.desc {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.62;
}